<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Practice of python</title>
  </head>
  <body>
    <a href="/">Home page</a>
    <a href="/about">About page</a>
    <h1>About Page</h1>
    <form action="/form" method="POST">
      <input type="text" name="name" placeholder="name" />
      <input type="password" name="password" placeholder="password" />
      <button>submit</button>
    </form>
  </body>
</html>
